body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    font-family: Arial;
}

.container {
    margin-top: 100px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    display: inline-block;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: white;
    padding: 10px;
    border: none;
}
